.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.PassContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 0.2em;
}
