.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.BtnsContainer {
  margin-top: 0.2em;
  display: flex;
  flex-direction: row;
  width: 100%;
  > .LeftBtnContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;
    align-content: flex-start;
    margin-left: 0.2em;
  }
  > .RightButtonContainer {
    margin-right: 0.2em;
  }
}
