.Container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  > .ScoreElements {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    padding: 0.5em;
    column-gap: 1em;
    background-color: var(--orangebrown);
    border-width: 2px;
    border-radius: 20px;
    > .ScoreElement {
      font-size: 1.4em;
      font-weight: 900;
      color: white;
      > sub {
        font-size: 0.75em;
      }
    }
  }
}
