.Container {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 8px 0 black;
  > .OuterTokenContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-items: center;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  > .MapContainer {
    margin-top: 1em;
    display: flex;
    background-image: url('../../assets/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(var(--mapHeight) / 4);
    width: calc(var(--mapWidth) / 4);
    > .PointContainer {
      height: inherit;
      width: inherit;
      position: absolute;
      pointer-events: none;
      > .Point {
        position: relative;
        border: 2px solid var(--scarecrowColor);
        background-color: transparent;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        cursor: pointer;
        pointer-events: all;
      }
    }
  }
}
