.Container {
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  padding: 1em;
  background-color: var(--orangebrown);
  > * {
    color: black;
    font-weight: bold;
    font-size: 24px;
    margin-left: 1em;
    margin-right: 1em;
    &:hover {
      color: white;
    }
  }
}

.ContainerDisabled {
  @extend .Container;
  cursor: not-allowed;
  > * {
    color: gray;
  }
}
