.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  background-color: var(--orangebrown);
  border-style: solid;
  //justify-content: safe center; // switch when implemented
  height: fit-content;
  border-radius: 20px;
  min-height: fit-content;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  // safe center workaround
  &::before,
  &::after {
    content: '';
    flex: 1;
  }
}

.Drag {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.Empty {
  height: var(--cardHeight);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  pointer-events: none;
}
