.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
  background-color: #ba8c63;
  border-style: solid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  justify-items: center;
  height: fit-content;
  border-radius: 20px;
  min-height: 230px;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}

.Drag {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
