.Button {
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  padding: 1em;
  background-color: var(--orangebrown);
  > * {
    color: black;
    font-weight: bold;
    font-size: var(--standardSize);
    margin-left: 1em;
    margin-right: 1em;
    &:hover {
      color: white;
    }
  }
}

.Disabled {
  cursor: not-allowed;
  pointer-events: none;
  > * {
    color: gray;
  }
}
